<div class="gallery-grid">
    <a href="assets/F0968FC9-3C46-495E-8410-80D4D073A2DC - Joelle Saunders.jpeg" class="gallery-item" data-size="1700x2800">
      <img src="assets/F0968FC9-3C46-495E-8410-80D4D073A2DC - Joelle Saunders.jpeg" alt="Art by Joey">
      <div class="gallery-caption"> Art by: Joey </div>
    </a>
    <a href="assets/20250312_002409 - Lee (Yeojinbear).jpg" class="gallery-item" data-size="1448x2048">
      <img src="assets/20250312_002409 - Lee (Yeojinbear).jpg" alt="Art by: Lee @_kookomi">
      <div class="gallery-caption"> Art by: Lee &#64;_kookomi</div>
    </a>
    <a href="assets/d57fad3cef2d1902f176726912d77cae - mob xd.jpg" class="gallery-item" data-size="736x1308">
      <img src="assets/d57fad3cef2d1902f176726912d77cae - mob xd.jpg" alt="Art by: @myfebruary6 on twt">
      <div class="gallery-caption"> Art by: &#64;myfebruary6 on twt</div>
    </a>
    <a href="assets/20250212_151436 - Promise Baier.jpg" class="gallery-item" data-size="2282x2934">
        <img src="assets/20250212_151436 - Promise Baier.jpg" alt="Art by: @lpyeojin">
        <div class="gallery-caption">Art by: &#64;lpyeojin</div>
      </a>
      <a href="assets/Yeojinvogue.jpg" class="gallery-item" data-size="6600x8400">
        <img src="assets/Yeojinvogue.jpg" alt="Art by Snow">
        <div class="gallery-caption">Art by Snow</div>
      </a>
      <a href="assets/Yeojinsnow.png" class="gallery-item" data-size="3000x3000">
        <img src="assets/Yeojinsnow.png" alt="Art by Snow">
        <div class="gallery-caption">Art by Snow</div>
      </a>
      <a href="assets/Yeojinie.png" class="gallery-item" data-size="3000x3000">
        <img src="assets/Yeojinie.png" alt="Art by Snow">
        <div class="gallery-caption">Art by Snow</div>
      </a>
      
  </div>

  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
  