<div class = "wrapper">
<div class="main-container">
    <div class="header"></div>
    <div class="content">
      <div class="logo">
        <h1> 🧸 ruby's letters</h1>
      </div>
      
      <div class="welcome-text">
        <p>welcome to rubysletters.com</p>
        <p>a space where c.loo from all around the world</p>
        <p>can share their endless love and support for yeojin &lt;3</p>
      </div>
      
      <div class="gallery">
        <img src="/assets/yeojin1.png">
        <img src="/assets/yeojin2.png">
        <img src="/assets/yeojin3.png">
      </div>
      
      <div class="buttons">
        <button class="btn" (click)="toggleLetters()">send/view letters</button>
        <button class="btn" (click)="toggleArtwork()">artwork gallery</button>
      </div>

      <div class="letters-section" [style.display]="showLetters ? 'block' : 'none'">
        <h3>Letters to Yeojin</h3>
        <div class="commonninja_component pid-4ee7e1fd-ef10-4b08-b454-02c7e2ef4ed0"></div>
      </div>
      
      <div class="artwork-section" *ngIf="showArtwork">
        <h3>Artwork Gallery</h3>
        <app-gallery></app-gallery>
      </div>

    </div>
  </div>
</div>